DATABASE_URL=postgresql://postgres:postgres@db:5432/app_db
DJANGO_SETTINGS_MODULE=job_finder.settings
SECRET_KEY=your-secret-key
PYTHONPATH=/app:/app/job_finder
PYTHONUNBUFFERED=1
POSTGRES_DB=app_db
POSTGRES_USER=your_db_user
POSTGRES_PASSWORD=your_secret_sql_password
DRF=drf_integration@email.com:secretssecrets