<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/output.css' %}">
        <script src="{% static 'libs/htmx.min.js' %}" defer></script>
    </head>
    <body>
        <button class="border border-black rounded-md px-4 py-2 bg-white text-black" hx-get="/update" hx-trigger="click" hx-target="#update-content" hx-swap="beforeend">Update</button>
        <div id="update-content">
        </div>
    </body>
</html>
